.inner {
  width: 980px;
  margin: 0 auto;
}

/* gnb */
.gnb {
  padding: 19px 0 15px;
  border-bottom: 1px solid #ddd;
}
.gnb .gnb-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.gnb .gnb-top .gnb-left {
  display: flex;
  align-items: center;
}
.gnb .gnb-top .gnb-left .logo {
  margin-right: 20px;
}
.gnb .gnb-top .gnb-left .links {
  display: flex;
}
.gnb .gnb-top .gnb-left .links li {
  margin-right: 5px;
}
.gnb .gnb-top .gnb-right {
  display: flex;
  align-items: center;
}
.gnb .gnb-top .gnb-right .lang-toggle {
  position: relative;
  margin-right: 25px;
  z-index: 10;
}
.gnb .gnb-top .gnb-right .lang-toggle.active .lang-content {
  display: block;
}
.gnb .gnb-top .gnb-right .lang-toggle.active .lang-button::after {
  transform: rotate(-180deg);
}
.gnb .gnb-top .gnb-right .lang-toggle .lang-button {
  width: 160px;
  height: 34px;
  font-size: 13px;
  color: #555;
  background-color: #f8f8f8;
  border: 1px solid #bbb;
}
.gnb .gnb-top .gnb-right .lang-toggle .lang-button::after {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 50px;
  background: url('../images/ico_sel_arrow.gif') no-repeat center;
  content: '';
  transition: transform 300ms ease-in-out;
}
.gnb .gnb-top .gnb-right .lang-toggle .lang-content {
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  width: 100%;
  padding: 15px 0 20px 20px;
  margin-top: -1px;
  background-color: #fff;
  border: 1px solid #bbb;
}
.gnb .gnb-top .gnb-right .lang-toggle .lang-content a {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  color: #555;
}
.gnb .gnb-top .gnb-right .buttons {
  display: flex;
}
.gnb .gnb-top .gnb-right .buttons button {
  width: 24px;
  height: 24px;
}
.gnb .gnb-top .gnb-right .buttons .star-button {
  background: url('../images/ico_favorite_off.gif') no-repeat center;
}
.gnb .gnb-top .gnb-right .buttons .set-button {
  margin: 0 20px;
  background: url('../images/btn-set.png') no-repeat center;
}
.gnb .gnb-top .gnb-right .buttons .search-button {
  background: url('../images/btn_header_search.gif') no-repeat center;
}

.gnb .gnb-bottom {
  display: flex;
  justify-content: space-between;
}
.gnb .gnb-bottom .gnb-left {
  display: flex;
  align-items: center;
  width: 153px;
  height: 28px;
  background-color: #f8f8f8;
  border: 1px solid #bbb;
}
.gnb .gnb-bottom .gnb-left a {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 500;
  color: #555;
}
.gnb .gnb-bottom .gnb-left a:first-child::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 10px;
  background-color: #bbb;
  content: '';
}
.gnb .gnb-bottom ul {
  display: flex;
}
.gnb .gnb-bottom ul li:not(:last-child) {
  padding-right: 15px;
}
.gnb .gnb-bottom ul li a {
  color: #6f6f6f;
}
.gnb .gnb-bottom ul li a:hover {
  color: #046fd9;
}

/* lnb */
.lnb {
  position: relative;
  border-bottom: 1px solid #ddd;
}
.lnb .lnb-wrapper {
  position: relative;
}
.lnb .lnb-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 65px;
}
.lnb .lnb-item > a {
  display: inline-block;
  padding-right: 50px;
  line-height: 50px;
  font-size: 17px;
  letter-spacing: -0.05em;
}
.lnb .lnb-list .menu-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 51px;
  width: 120%;
  padding: 40px 100px 0 100px;
  background-color: #fff;
  z-index: 20;
}
/* .lnb .lnb-list .lnb-item:first-child .menu-content {
  display: flex;
} */
.lnb .lnb-list .menu-content .menu-item {
  margin-right: 60px;
  margin-bottom: 40px;
  width: 147px;
}
.lnb .lnb-list .menu-content .menu-item:nth-child(5),
.lnb .lnb-list .menu-content .menu-item:last-child {
  margin-right: 0;
}
.lnb .lnb-list .menu-content .menu-item h4 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}
.lnb .lnb-list .menu-content .menu-item li {
  margin-bottom: 4px;
}
.lnb .lnb-list .menu-content .menu-item li:hover a {
  color: #046fd9;
}
.lnb .lnb-list .menu-content .menu-item li a {
  font-size: 14px;
}
.lnb .lnb-list .lnb-item:hover .menu-content {
  display: flex;
  flex-wrap: wrap;
}
/* .lnb .lnb-list .lnb-item:first-child .menu-content {
  display: flex;
  flex-wrap: wrap;
} */

.lnb .menu-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 30px;
  background: url('../images/bg_all_menu.png') no-repeat center;
}

/* visual */
.visual {
  height: 600px;
  background: linear-gradient(90deg, #e5f2ff 50%, #d3e8ff 50%);
}
.visual .visual-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 93px 0 190px;
}
.visual .visual-txt {
  font-size: 31px;
  font-weight: 600;
  line-height: 1.3;
  color: #222;
}
.visual .visual-txt strong {
  color: #19a647;
}
.visual .visual-carousel {
  position: relative;
  width: 625px;
  box-shadow: 10px 29px 36px -11px rgba(0, 0, 0, 0.15);
}
.visual .visual-carousel .visual-carousel-controls {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -47px;
  left: 50%;
  transform: translateX(-50%);
}
.visual .visual-carousel .visual-carousel-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.visual .visual-carousel .visual-carousel-nav li {
  margin-right: 4px;
}
.visual .visual-carousel .visual-carousel-nav .tns-nav-active button {
  width: 30px;
  background-color: #046fd9;
}
.visual .visual-carousel .visual-carousel-nav li button {
  width: 12px;
  height: 8px;
  background-color: #64a4e4;
  border-radius: 5px;
}
.visual .visual-carousel .visual-carousel-autoplay {
  position: relative;
  top: 2px;
  width: 18px;
  height: 18px;
}
.visual .visual-carousel .visual-carousel-autoplay[data-action='start'] {
  background: url('../images/btn_slide_play.png') no-repeat center;
}
.visual .visual-carousel .visual-carousel-autoplay[data-action='stop'] {
  background: url('../images/btn_slide_stop.png') no-repeat center;
}

/* quick-menu */
.quick-menu {
  position: relative;
  top: -75px;
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 15px 0 15px;
  z-index: 10;
}
.quick-menu .menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.quick-menu .menu-item {
  position: relative;
}
.quick-menu .menu-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quick-menu .menu-item a::before {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-bottom: 2px;
  content: '';
}
.quick-menu .menu-item a {
  font-weight: 500;
  color: #555;
}
.quick-menu .menu-item:hover .item-content {
  display: block;
}
.quick-menu .menu-item .item-content {
  display: none;
  position: absolute;
  left: -30px;
  top: -34px;
  height: 160px;
  width: 130px;
  padding: 34px 0;
  background-color: #0f78df;
  border-radius: 0 10px 0 10px;
}
.quick-menu .menu-item .item-content::after {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: url('../images/ico_quick_arrow.png') no-repeat center;
  content: '';
}
.quick-menu .menu-item .item-content a {
  color: #fff;
}
.quick-menu .item01 a::before {
  background: url('../images/ico_quickbank0401_off.png') no-repeat center;
}
.quick-menu .item02 a::before {
  background: url('../images/ico_quickbank02_off.png') no-repeat center;
}
.quick-menu .item03 a::before {
  background: url('../images/ico_quickbank03_off.png') no-repeat center;
}
.quick-menu .item04 a::before {
  background: url('../images/ico_quickbank01_off.png') no-repeat center;
}
.quick-menu .item05 a::before {
  background: url('../images/ico_quickbank05_off.png') no-repeat center;
}
.quick-menu .item06 a::before {
  background: url('../images/ico_quickbank06_off.png') no-repeat center;
}
.quick-menu .item07 a::before {
  background: url('../images/ico_quickbank07_off.png') no-repeat center;
}
.quick-menu .item08 a::before {
  background: url('../images/ico_quickbank08_off.png') no-repeat center;
}

/* product-show */
.product-show {
  position: relative;
  height: 1240px;
  padding: 100px 0;
  margin-top: -140px;
  background-color: #e9ecf2;
}
.product-show h2 {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.product-show .product-tab {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-show .product-tab .tab-item:not(:last-child) {
  margin-right: 24px;
}
.product-show .product-tab .tab-item button {
  padding: 11px 31px 13px;
  font-size: 19px;
}
.product-show .product-tab .tab-item button:hover {
  font-weight: 600;
  background-color: #fff000;
  border-radius: 0 10px 0 10px;
}
.product-show .product-tab .tab-item.active button {
  font-weight: 600;
  background-color: #fff000;
  border-radius: 0 10px 0 10px;
}

.product-show .tab-content {
  position: absolute;
  top: 92px;
  left: -13px;
  display: grid;
  grid-template-columns: repeat(3, 310px);
  row-gap: 28px;
  column-gap: 40px;
  display: -ms-grid;
  -ms-grid-columns: repeat(3, 310px);
}
.product-show .product-item {
  background-color: #fff;
}
.product-show .product-item:hover {
  box-shadow: 0px 20px 12px -11px rgba(0, 0, 0, 0.2);
}
.product-show .product-item.item02 {
  margin-bottom: 190px;
}
.product-show .product-item.item05 {
  margin-top: -190px;
}
.product-show .product-item.item04,
.product-show .product-item.item06 {
  margin-bottom: -40px;
}
.product-show .product-item a {
  display: block;
}
.product-show .product-item .product-detail {
  padding: 30px 0 0 30px;
}
.product-show .product-item.long .product-detail {
  padding-bottom: 125px;
}
.product-show .product-item .product-label {
  margin-bottom: 22px;
}
.product-show .product-item .product-label strong {
  padding: 1px 11px 3px 11px;
  font-size: 14px;
  color: #fff;
  border-radius: 0 10px 0 10px;
}
.product-show .product-item .product-label .label-red {
  background-color: #ff2e69;
}
.product-show .product-item .product-label .label-green {
  background-color: #27b5be;
}
.product-show .product-item .product-label .label-blue {
  background-color: #046fd9;
}
.product-show .product-item .product-title {
  margin-bottom: 35px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}
.product-show .product-item .product-date {
  font-size: 14px;
  color: #556fd9;
}
.product-show .product-item .product-info {
  font-size: 14px;
  color: #555;
}
.product-show .product-item .product-info strong {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.product-show .product-item.long a::before {
  display: block;
  height: 232px;
  width: 310px;
  content: '';
}
.product-show .product-item.item01 a::before {
  background: url('../images/img_thumb_event_02.jpg') no-repeat center;
}
.product-show .tab-item .product-item.item03 a::before {
  background: url('../images/img_thumb_event_05.jpg') no-repeat center;
}
.product-show .tab-item .product-item.item05 a::before {
  background: url('../images/img_thumb_event_03.jpg') no-repeat center;
}
.product-show .more-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
  padding: 9px 47px 10px 49px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* infor */
.infor {
  padding: 60px 0 100px;
}
.infor .infor-wrapper {
  display: flex;
  justify-content: space-between;
}
.infor .infor-group {
  display: flex;
  flex-wrap: wrap;
}
.infor .infor-group .infor-banner {
  width: 267px;
}
.infor .infor-group .infor-banner.banner01 {
  margin-right: 70px;
}
.infor .infor-group .infor-banner .infor-title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}
.infor .infor-group .infor-banner .infor-list {
  width: 225px;
}
.infor .infor-group .infor-banner .infor-list li {
  margin-bottom: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #6f6f6f;
}
.infor .infor-group .link-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 90px;
  width: 100%;
  border: 1px solid #ddd;
}
.infor .infor-group .link-list li {
  width: 50%;
}
.infor .infor-group .link-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
}
.infor .infor-group .link-list li.item01 {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.infor .infor-group .link-list li.item02 {
  border-bottom: 1px solid #ddd;
}
.infor .infor-group .link-list li.item03 {
  border-right: 1px solid #ddd;
}
.infor .customer-service {
  flex-shrink: 0;
  width: 310px;
  background-color: #0c75dd;
  border-radius: 0 12px 0 12px;
  box-shadow: 0px 31px 19px -17px rgba(0, 0, 0, 0.2);
}
.infor .customer-service .service-list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.infor .customer-service .service-list li:last-child {
  border-bottom: 0;
}
.infor .customer-service .service-list li a {
  display: inline-block;
  width: 100%;
  padding: 17px 0 18px 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.infor .customer-service .service-list li a:hover {
  color: #ffff00;
}
.infor .customer-service .service-list li strong {
  font-size: 24px;
}
.infor .customer-service .service-list li p {
  margin-bottom: 25px;
  font-size: 16px;
}
.infor .customer-service .service-list .security a::after {
  display: inline-block;
  width: 52px;
  height: 66px;
  background: url('../images/img_prev_banner_security.png') no-repeat center;
  content: '';
}
.infor .customer-service .service-list .security a:hover {
  color: #fff;
}

/* global-footer */
.global-footer a:hover {
  text-decoration: underline;
}
.fnb {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.fnb .fnb-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fnb .fnb-list li a {
  display: inline-block;
  font-size: 14px;
  line-height: 64px;
}

.footer-infor .footer-infor-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 0 40px;
}
.footer-infor .infor-left .infor-list {
  display: flex;
  margin-bottom: 25px;
}
.footer-infor .infor-left .infor-list li:not(:last-child) {
  margin-right: 18px;
}
.footer-infor .infor-left .infor-list li a {
  font-size: 13px;
  letter-spacing: -0.7%;
  color: #555;
}
.footer-infor .infor-left .infor-list li a strong {
  font-weight: 600;
  color: #1776bb;
}
.footer-infor .infor-left .infor-detail-list {
  display: flex;
}
.footer-infor .infor-left .infor-detail-item {
  display: flex;
  margin-right: 15px;
  font-size: 12px;
  color: #555;
}
.footer-infor .infor-left .infor-detail-item dt {
  margin-right: 3px;
}
